.character-card {
    width: 18rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .character-card .card-img-top {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  