@property --gradient-start {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --gradient-end {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

body {
  background-image: url("src/assets/img/fuego6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: gradientAnimation 2s infinite alternate;
}

.container {
  margin-top: 20px;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.5);
}

.character-card img {
  height: 12rem;
  object-fit: cover;
}

.form-select,
.page-link,
.input-group-text,
.form-control,
.card {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
  border: none;
}

.form-select:hover,
.page-link:hover,
.form-select:focus,
.page-link:focus {
  background-color: rgba(128, 0, 0, 0.7);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: rgba(128, 0, 0, 0.7) !important;
}

.btn-reset,
.btn-search {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 8px;
  height: 44px;
  display: flex;
  align-items: center;
}

.btn-reset img,
.btn-search img {
  filter: brightness(0) invert(1);
}

.btn-reset:hover,
.btn-search:hover {
  background-color: rgba(128, 0, 0, 0.7);
}

.btn-reset:focus,
.btn-search:focus {
  box-shadow: none;
}

.custom-input-group {
  height: 44px;
  flex: 1;
}

.custom-input-group .input-group-text,
.custom-input-group .form-control,
.custom-input-group .form-select {
  height: 100%;
  line-height: 1.5;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
