
@property --gradient-start {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }
  
  @property --gradient-end {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }
  
  body {
    --gradient-start: #ab20209f;
    --gradient-end: #192556ad;
  
    animation: gradientAnimation 2s infinite alternate; /* 3 segundos y se repite */
    background: linear-gradient(
      to right,
      var(--gradient-start),
      var(--gradient-end)
    );
  }
  
  @keyframes gradientAnimation {
    0% {
      --gradient-start: #682323;
      --gradient-end: #1c2d6f;
    }
    100% {
      --gradient-start: #6a6729;
      --gradient-end: #161616f7;
    }
  }